// color
$primary-default: #00FFE0;
$primary-dark: #008D96;
$primary-deepDark: #005656;
$text-default: #FFFFFF;
$text-dark: #1C3245;
$text-tint: #00FFE0;
$role-sm: #D355FF;
$role-sm-dark: #4C0071;
$role-sm-tint: #FF00F5;
$role-team1: #FFC700;
$role-team2: #FF5C00;
$role-team-dark: #933500;
$bg-dark: #0A0D14;
$bg-dark60: #0A0D1499;
$bg-transition: #1C324599;
$danger: #FF0000;

// linear
$primary-linear: linear-gradient(180deg, rgba(0, 255, 224, 0) 0%, rgba(0, 255, 224, 0.25) 60.42%, rgba(0, 255, 224, 0.45) 79.69%, rgba(0, 255, 224, 0.7) 91.67%, rgba(0, 255, 224, 0.9) 100%);
$sm-linear: linear-gradient(180deg, rgba(211, 85, 255, 0) 0%, rgba(211, 85, 255, 0.03) 59.9%, rgba(211, 85, 255, 0.12) 78.12%, rgba(211, 85, 255, 0.36) 100%),rgba(10, 13, 20, 0.6);
$team1-linear:  linear-gradient(180deg, rgba(255, 199, 0, 0) 0%, rgba(255, 199, 0, 0.03) 59.9%, rgba(255, 199, 0, 0.12) 78.12%, rgba(255, 199, 0, 0.36) 100%), rgba(10, 13, 20, 0.6);
$team2-linear: linear-gradient(180deg, rgba(255, 122, 0, 0) 0%, rgba(255, 122, 0, 0.03) 59.9%, rgba(255, 122, 0, 0.12) 78.12%, rgba(255, 122, 0, 0.36) 100%),rgba(10, 13, 20, 0.6);
$button-linear: linear-gradient(0deg, rgba(0,255, 224, 0)0%,#00ffe0 100%), #008d96;
$button-disabled-linear: linear-gradient(0deg, rgba(238, 238, 238, 0)0%, #EEEEEE 100%), #555555;
$pop-up-linear: linear-gradient(180deg, rgba(0, 255, 224, 0) 0%, rgba(0, 255, 224, 0.03) 59.9%, rgba(0, 255, 224, 0.12) 78.12%, rgba(0, 255, 224, 0.36) 100%),rgba(10, 13, 20, 0.6);

// font style
%h1 {
  font-size: 2.75rem; //44px
  font-family: 'Gen Jyuu Gothic P 700';
  line-height: 180%;
}

%h2 {
  font-size: 2rem; //32px
  font-family: 'Gen Jyuu Gothic P 700';
  line-height: 180%;
}

%h3 {
  font-size: 1.5rem; //24px 
  line-height: 180%;
}

%body {
  font-size: 1.25rem; //20px
  line-height: 180%;
}

%highlight {
  font-size: 1.25rem; //20px
  font-family: 'Gen Jyuu Gothic P 700';
  line-height: 180%;
}

%talk {
  @extend %h3;
  line-height: 180%;
}

%caption {
  font-size: 1rem;
  line-height: 180%;
}

%listCaption {
  font-size: 1rem;
  font-family: 'Gen Jyuu Gothic P 700';
  line-height: 180%;
}

// img
$pointer-green: url('~@/assets/image/pointer-green.png');
$pointer-purple: url('~@/assets/image/pointer-purple.png');
$pointer-yellow: url('~@/assets/image/pointer-yellow.png');
$pointer-orange: url('~@/assets/image/pointer-orange.png');
$shadow-green: url('~@/assets/image/popUp-shadow.png');
$shadow-orange: url('~@/assets/image/popUp-shadow-orange.png');
$shadow-yellow: url('~@/assets/image/popUp-shadow-yellow.png');
$shadow-purple: url('~@/assets/image/popUp-shadow-purple.png');

// mixin
@mixin containerStyle ($w, $h, $bg-color, $border: none, $border-radius: 0) {
  width: #{$w};
  height: #{$h};
  background: #{$bg-color};
  border: #{$border};
  border-radius: #{$border-radius};
}

@mixin position ($position, $top: auto, $bottom: auto, $left: auto, $right: auto) {
  position: #{$position};
  top: #{$top};
  bottom: #{$bottom};
  left: #{$left};
  right: #{$right};
}

@mixin flex ($justify, $align, $direction: row) {
  display: flex;
  flex-direction: #{$direction};
  justify-content: #{$justify};
  align-items: #{$align};
}

// styles for repeated elements

@mixin button ($width, $height, $bg-color1, $shadow-color, $color) {
  @include containerStyle(#{$width}, #{$height}, #{$shadow-color}, none, 40px);
  position: relative;
  opacity: 0.8;
  text-align: center;
  @extend %highlight;
  color: #{$color};
  letter-spacing: .2rem;
  div {
    @include containerStyle(#{$width}, #{$height}, #{$bg-color1}, none, 40px);
    opacity: 0.8;
    backdrop-filter: blur(5px);
    @include position(absolute, $top: -9.09%, $left: 0);
    @include flex(center, center);
    transition: all .2s ease-out;
  }
  &:hover {
    div {
      top: -3%;
    }
  }
  &:disabled {
     background: #BBBBBB; 
     div {
      background: $button-disabled-linear;
      &:hover {
        top: -9.09%;
        cursor: not-allowed;
      }
     }
  }
}

%button-next {
  @include position (fixed, $top: 0, $bottom: 0, $left: 0, $right: 0);
  z-index: 100;
  @include flex(center, center);
  cursor: pointer;
  button {
    @include containerStyle(fit-content, fit-content, transparent, 2px solid $primary-default, 20px);
    padding: 2px 30px;
    @extend %highlight;
    color: $primary-default;
    transition: opacity .3s ease-in;
    &:hover {
      opacity: 0.6;
    }
  }
}

%button-leave {
  @extend %button-next;
  background: linear-gradient(180deg, rgba(0, 255, 224, 0) 0%, rgba(0, 255, 224, 0.25) 60.42%, rgba(0, 255, 224, 0.45) 79.69%, rgba(0, 255, 224, 0.7) 91.67%, rgba(0, 255, 224, 0.9) 100%);
  backdrop-filter: blur(5px);
}

@mixin opening ($w, $h, $color) {
  @include containerStyle(fit-content, fit-content, $bg-dark60, 2px solid #{$color}, 80px);
  min-width: #{$w};
  max-height: #{$h};
  box-shadow: 0px 0px 24px 8px rgba(0, 255, 224, 0.8), 0px 0px 8px 8px rgba(0, 255, 224, 0.95);
  backdrop-filter: blur(5px);
  position: relative;
  padding: 15% 12%;
  .name {
    @include containerStyle(fit-content, fit-content, #{$color});
    padding: .5px 24px;
    @extend %h3;
    color: $bg-dark;
    @include position (absolute, $top: 15%, $left: -1.5%); 
    &::before {
      content: '';
      @include containerStyle(9.89px, 52px, $primary-default);
      @include position (absolute, $top: 0, $left: -1.1%);
      box-shadow: 0px 0px 24px 2px rgba(0, 255, 224, 0.8), 0px 0px 8px 0px rgba(0, 255, 224, 0.95);
    }
  }
  .content {
    @extend %h3;
    color: $text-default;
    span {
      color: $text-tint;
    }
  }
}

@mixin popUp ($w, $h, $color, $bg, $shadow1, $shadow2, $shadowImg, $pointer) {
  @include containerStyle(#{$w}, #{$h},#{$bg}, 2px solid #{$color}, 40px);
  box-shadow: 0px 0px 24px 8px #{$shadow1}, 0px 0px 8px 8px #{$shadow2};
  backdrop-filter: blur(5px);
  position: relative;
  @include flex (flex-start, center);
  padding: 2% 6%;
  padding-left: 8%;
  .name {
    @include containerStyle(fit-content, fit-content, #{$color});
    padding: .5px 24px;
    @extend %h3;
    color: $bg-dark;
    @include position (absolute, $top: 25%, $left: -0.7%);
    // set up the shadow
    &::before {
      content: '';
      background-image: #{$shadowImg};
      width: 10px;
      height: 52px;
      @include position (absolute, $top: 0, $left:0 );
      box-shadow: 0px 0px 24px 2px #{$shadow1}, 0px 0px 8px 0px #{$shadow2};
      z-index: -1;
    }
  }
  .content {
    width: 100%;
    height: fit-content;
    @extend %body;
    color: $text-default;
    span {
      color: $text-tint;
    }
    img {
      height: 180%;
      @include position (relative, $top: 10px);
    }
    strong {
      @extend %h2;
    }
  }
  .pointer {
    @include position(absolute, $bottom: 15%, $right: 3%);
    @include containerStyle(5%, 15%, #{$pointer});
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.1s ease-in;
    animation: pointerJump 1s alternate infinite;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}

@keyframes pointerJump {
  0% {
    transform: translateY(45%);
  }
  35% {
    transform: translateY(48%);
  }
  65% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(35%);
  }

}

//could be deleted after all characters are imported using Character.vue 
%character {
  width: 22vw;
  // set up height so that the characters will also shrink with height
  height: 100%;
  text-align: center;

  .hole {
    height: 25%;
    object-fit: contain;
  }

  .light {
    height: 130%;
    position: relative;
    top: -25%;
    object-fit: contain;
  }

  .character {
    height: 100%;
    position: relative;
    top: -151%;
    object-fit: contain;
  }
}

@mixin listStyle ($bg4, $bg3, $bg2, $container, $head, $p, $border, $point){
  width: 30%;
  height: 95%;
  position: relative;
  // glass effect
  .bg4,
  .bg3,
  .bg2,
  .container {
    @include containerStyle(100%, 100%, $primary-default, none, 20px);
    backdrop-filter: blur(5px);
  }
  .bg4 {
    background: #{$bg4};
    opacity: 0.9;
    @include position (absolute, $top: 24px, $left: 24px);
  }
  .bg3 {
    background: #{$bg3};
    @include position (absolute, $top: 24px, $left: 24px);
  }
    
  .bg2 {
    background: #{$bg2};
    @include position (absolute, $top: 12px, $left: 12px);
  }
  
  // set the style of the content
  .container { 
    background: #{$container}; 
    .head {
      @include containerStyle(100%, 16%, #{$head}, none, 20px 20px 0 0);
      @include flex (center, center, column);
      h2 {
        @extend %h2;
        color: $bg-dark;
      }
      p {
        @extend %listCaption;
        color: #{$p};
        margin-top: -8px;
      }
    }
    .list {
      padding: 2%;
      width: 100%;
      height: 80%;
      position: relative;
      &__indicator {
        @include position (absolute, $top: 5%, $left: 2.5%);
        height: 95%;
        p {
          @extend %listCaption;
          color: $text-default;
        }
        img {
          height: 85%;
        }
      }
      &__blocks {
        width: 100%;
        height: 100%;
        margin-left: 6%;
        @extend %body;
        color: $text-default;
        .block {
          @include containerStyle(90%, calc(98%/4), transparent, 2px dashed #{$border}, 20px);
          margin-bottom: 2%;
          cursor: grab;
          &.fill {
            border: 4px solid $primary-default;
            background: $bg-dark60;
            @include flex (flex-start, center);
            padding: 1% 2%; 
          }
        }
        .block-quest3 {
          @include containerStyle(90%, calc(98%/4), $bg-dark60, 4px solid #{$border}, 20px);
          margin-bottom: 2%;
          @include flex (flex-start, center);
          padding: 1% 2%;
          cursor: grab;
          .point {
            @include containerStyle(auto, 80%, #{$point}, none, 50%);
            aspect-ratio: 1;
            margin-right: 2%;
            @extend %h2;
            color: $text-default;
            @include flex(center,center);
          }
          &.red {
            border-color: $danger;
          }
        }
      }
      .list-bar {
        @include containerStyle(90%, 6%, $role-team-dark, none, 20px);
        margin-top: 15%;
        padding: 2px 3px;
        .progress {
          @include containerStyle(90%, 100%, $role-team1, none, 20px);
          max-width: 100%;
          transition: width .2s ease-out;
          &.red {
            background: $danger;
          }
        }
        p {
          @extend %listCaption;
          width: fit-content;
          height: 100%;
          @include position(relative, $top: -100%, $left: 50%);
          transform: translateX(-50%);
        }
      }
    }
  }
}
